# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
